* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 96vh;
}

footer {

    padding-top: 3px;
    height: 4vh;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: green;
}

footer p{
    text-align: center;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

.nav-item img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

article {
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    padding: 5%;
    margin: 10px;
    width: 60%;
}

.Bird {background-image: url('images/birds_passing.jpg');}
.Mario {background-image: url('images/Mario.jpg');}
.WelcomeHome {background-image: url('images/WelcomeHome.jpg');}
.Man {background-image: url('images/man_sitting.jpg');}
.Foot {background-image: url('images/Football_background.jpg');}


article h2 {
    text-align: center;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 2%;
    margin: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article p {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    padding: 2%;
    margin: 2%;
}

/* Home section is smaller */
.home {
    color: black;
    background: rgb(255, 255, 255);
    padding: 2px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Other sections */
.events { background: green; }
.prog { background: lightblue; }
.team { background: steelblue; }

/* Background Colors for Pages */
.events-bg { background: green; color: white; }
.prog-bg { background: lightblue; color: black; }
.team-bg { background: steelblue; color: white; }

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 2%;
    text-align: left;
}

h2 {
    text-align: center;
}






/* FORMS */

label {
    float: left;
    text-align: right;
}

.required {
    color: red;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
}

#button {
    text-align: center;
}

.interaction {
    float: right;
    top: 0;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #464bb4 0%, #4682b4 50%,#46b4af 100%);
    padding: 50px;
    min-width: 250px;
    max-width: 270px;
    height: 100%;
    position: sticky;
    text-align: center;
    color: black;
}

.interaction h1, h2, h3, h4 {
    text-decoration: underline;
}

.interaction form {
    text-align: center;
    margin-top: 20px;
}

.subtext {
    color: rgb(88, 88, 88);
    font-style: italic;
    font-size: 0.8em;
}



/* EVENTS */

.event {
padding: 20px;
margin-left: 5%;
margin-top: 2%;
border-radius: 25px;
background-color: rgb(94, 196, 179);
background-image: linear-gradient(180deg, green 0%,rgb(34, 192, 166) 100%);
}

.event h2 {
    font-size: 1.4em;
    padding-left: 100px;
    text-decoration: none;
}

.columnDetail {
    columns: 3;
    column-rule: 2px solid white;
    column-gap: 50px;
    padding: 2px;
    padding-top: 10px;
}

.columnDetail li {
    padding-top: 20px;
}

/* HOME */

aside {
    float: right;
    position: sticky;
    top: 20%;
    text-align: center;
}

/* PROGRAM */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    background-image: linear-gradient(180deg, lightblue 0%,steelblue 100%);
    justify-content: space-around;
    align-items: center;
    min-width: 320px;
}
.flex-item h3 {
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    border-radius: 20px;
    width: 60%;
    padding: 10px;
    max-height: 2.5em;
}

/* TEAM */

/*
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 500px;
    max-width: 600px;
}
*/

.team-container {
    margin: 20px auto;
    max-width: 400px;
    min-width: 300px;
    background-image: linear-gradient(180deg, #699bc4 0%,#b47846 100%);
    padding: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
}

.team-flex {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

}

.team-item {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.team-img {
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.team-item + .team-item {
    border-top: solid 1px white;
}

.team-item td {

    padding-left: 10px;
    text-decoration: none;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

td img {
    width: 24px;
    height: 24px;
}



